.registration {
    padding: 60px 20px;
    background-color: var(--primary-color);
}

.registration form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-flow: column;
}

.registration form .form-group {
    margin-bottom: 16px;
    display: flex;
    flex-flow: column;
}

.registration form label {
    padding-left: 12px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
    max-width: 200px;
}

.registration form input:focus,
.registration form select:focus {
    outline: none !important;
}

.registration form input,
.registration form select {
    border: 0;
    outline: 0;

    font-size: 20px;
    padding: 12px;
    border-radius: 8px;
    background-color:  var(--pseudo-white);

    box-shadow: 4px 4px 6px 0 rgba(0,0,0, .5);
}

.registration form input[type="submit"] {
    margin-top: 30px;
    background-color: var(--pseudo-black);
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


#map-place {
    cursor: pointer;
}

.registration-modal-layout {
    display: none;
    position: fixed;
    inset: 0 0 0 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.3);
}

.registration-modal-layout.active {
    display: flex;
}

.registration-modal {
    max-width: 1200px;
    width: 100%;
    margin: 12px;
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    position: relative;
}

.registration-modal .close-btn {
    color: var(--pseudo-black);
    font-size: 36px;
    line-height: 36px;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 8px;
    right: 8px;
    text-align: center;
    text-decoration: none;
    opacity: .6;
    transition: opacity .6s;
}
.registration-modal .close-btn:hover {
    opacity: 1;
}

.registration-modal svg {
    margin: -1%;
}

.registration-modal svg text {
    pointer-events: none;
}

.registration-modal svg .map-place {
    cursor: pointer;
    transition: fill .3s;
}

.registration-modal svg .map-place:hover {
    fill: #239eed;
    filter: drop-shadow(2px 2px 6px rgb(0 0 0 / 40%));
}