.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.hero .img-wrapper {
    width: 100%;
    height: 100%;
}

.hero .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .img-wrapper::after {
    content: '';
    position: absolute;
    display: block;
    inset: 0;
    background: linear-gradient(to bottom, rgba(35, 158, 237, 0.75), rgba(7, 8, 8, 0.6));
}

.hero .container {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.hero .text-wrapper {
    color:  var(--pseudo-white);
    max-width: 600px;
    line-height: 1.4;
}

.hero h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 0;
}

.hero h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 4px;
    color: var(--pseudo-white)
}

.hero h2 {
    text-align: left;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.2;
}

.hero h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.hero .btn-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hero .event-card {

}


@media (max-width: 767.98px) {
    .hero .container {
        padding: 16px;
    }

    .hero h2 {
        font-size: 46px;
    }
}


.hero .event-card {
    max-width: 306.94px;
    background-color: white;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    position: relative;
    box-shadow: 4px 4px 6px 0 rgba(0,0,0, .5);
    overflow: hidden;
}

.hero .event-card .text-wrapper {
    padding: 20px;
    padding-right: 0;
    z-index: 2;
    color: var(--pseudo-black) !important;
}

.hero .event-card .text-wrapper h5 {
    font-size: 20px;
    margin-bottom: 16px;
}

.hero .event-card .text-wrapper p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 12px;
}

.hero .event-card .text-wrapper p:last-of-type {
    margin-bottom: 0px;
}

.hero .event-card .date-wrapper {
    padding: 20px;
    z-index: 2;
    color: var(--pseudo-white);
    text-align: center;
}

.hero .event-card .date-wrapper h5 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1;
}

.hero .event-card .date-wrapper p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 12px;
}

.hero .event-card::before {
    content: '';
    position: absolute;
    right: -150px;
    top: -150px;
    width: 300px;
    height: 300px;
    background-color: var(--primary-color);
    border-radius: 100%;
    z-index: 1;

    transition: transform .6s;
}