<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">

	<title>Homsters Events</title>
	<meta property="og:title" content="Homsters Events" />
	<meta name="description" content="Семинары для застройщиков в городах Алматы, Нур-Султан, Шымкент, Актау, Атырау, Караганда, Актобе">
	<meta property="og:description" content="Семинары для застройщиков в городах Алматы, Нур-Султан, Шымкент, Актау, Атырау, Караганда, Актобе" />
	<meta name="robots" content="noindex,nofollow" />
	<link href="https://events-homsters.kz/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="canonical" href="https://events-homsters.kz" />

	<meta property="og:url" content="https://events-homsters.kz" />
	<meta property="og:image" content="https://events-homsters.kz/assets/img/og-image.jpg" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="Events-Homsters.kz" />
</head>
<body>
